body{
    /*background-image: url(../img/back1.jpg);*/
    background-color: aquamarine;
    background-size:195vh 75vw;
	background-attachment:fixed;
	margin:0;
}

.container{
    margin-top: 10px;
}

h1,h3,h5{
    color: white;
}

h6{
    color:rgb(48, 28, 2);
}

#nav{
    background:rgba(34, 210, 241, 0.5);
    height: 75px;
}

#nav:hover{
    background:rgba(34, 210, 241, 1);
    height: 75px;
}

#buscar{
    width:150px;
    height: 31px;
}

#buscador{
    margin-top: 15px;
}

a{
    color:white;
}

#name, #autor{
    color: black;
}

.margin-top{
    margin-top: 10px;
}

.main-header{
    background-image: url("https://ep01.epimg.net/elpais/imagenes/2018/03/23/album/1521832725_083390_1521888095_noticia_normal.jpg");
    text-align: center;
    color: white;
    padding-top: calc(10rem + 70px);
    padding-bottom: 10rem;
    background-attachment: fixed;
    background-size: 100% 100%;
}

table{
    border-collapse: collapse;
}

#descripcion{
    width: 50%;
    margin-right: 5em;
    margin-left: 2em;
}

section{
    margin-bottom: 3em;
}